extends layout

block content
  script(src="/bc/angularjs/angular.js")
  script(src="/js/index/controllers.js")
  div(ng-app="grooveCentral")
    div(ng-controller="HostCtrl")
      .ui.list(ng-repeat="class in classes")
        .ui.segment
          .item
            h3.header {{class.style}}
            .description
              {{class.time}}, {{class.day}}
        
