extends layout

block content
  script(src="/bc/angularjs/angular.js")
  script(src="/js/index/controllers.js")
  div(ng-app="grooveCentral")
    div(ng-controller="ScheduleCtrl")
      .ui.header
        div
          a 
            i.chevron.left.icon 
          span This week
          a 
            i.chevron.right.icon
        <br>
        div
          button.ui.button.green schedule new session
      
      hr.ui.divider      
      
      .ui.divider.hidden
  
      .ui.stackable.seven.column.grid
        .column(ng-repeat="(dayName, dayObject) in classData.days")
          .ui.segments
            .ui.segment
              .header.ui.two.column.grid
                .column 
                  h3 {{dayName}}
            .ui.segment
              .description
                .list
                  .ui.vertical.segment(ng-repeat="(time, classes) in dayObject")
                    h5 {{time}}
