doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bc/semantic-ui/dist/semantic.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/bc/jquery/dist/jquery.min.js')
  body
    .ui.secondary.top.pointing.menu
      a.item
        strong Groove Central
      .right.menu
        a.active.item Home
        a.item About 
    .ui.bottom.attached
        block content
    script(src='/bc/semantic-ui/dist/semantic.min.js')
    script(src="js/setup.js")
